.hero.is-fullheight {
  height: 102vh;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .hero-body {
    padding-top: 0;
    padding-bottom: 0;
  }
  .container {
    height: 80vh;
    margin-top: -15vh;
    overflow-y: scroll;
  }
}
