footer, nav.footer-nav{
    height: 100%;
    
    .footer-contents{
      margin-top: 2%;
    }

    .container {
        color: white;
    }

    .social{
        margin-top: 5px;
        a.icon:hover{
            background-color: transparent;
        }
    }
}