<footer>
  <nav class="footer-nav tabs is-boxed is-fullwidth has-background-dark">
    <div class="footer-contents container">
      <p class="has-text-centered">Page coded by Carlos Ermida Santos ©2015-2019
      </p>
      <div class="columns is-centered social">
        <a class="icon" href="https://www.linkedin.com/in/carlosermidasantos/">
          <fa-icon [icon]="['fab', 'linkedin']">
          </fa-icon>
        </a>
        <a class="icon" href="https://github.com/mesosteros">
          <fa-icon [icon]="['fab', 'github']">
          </fa-icon>
        </a>
      </div>
    </div>
  </nav>
</footer>