<div class="about-section">
  <div class="content">
    <h1 class="title">About me</h1>
    <p>
      I'm a tenacious Front-End Developer with 8 years experience in projects
      using JavaScript Frameworks like Angular and React, with some minor
      experience with Back-End Development in NestJS.
    </p>
    <p>
      Experienced in working as a Tech Lead and with the Agile Scrum methodology
      as a Scrum Master.
    </p>
    <p>
      I'm also experienced with interviewing at a technical level and orienting
      team members to achieve the best results.
    </p>
  </div>
</div>
