<footer>
  <p style="padding-right: 1rem">© {{ year }} Carlos Santos</p>
  <a
    href="https://www.linkedin.com/in/carlosermidasantos/"
    aria-label="View LinkedIn Profile for Carlos Santos"
    target="_blank"
    style="color: black; opacity: 0.75; padding-right: 1rem"
  >
    <fa-icon [icon]="faLinkedin"></fa-icon>
  </a>
  <a
    href="https://github.com/mesosteros"
    aria-label="View GitHub Profile for Carlos Santos"
    target="_blank"
    style="color: black; opacity: 0.75; padding-right: 1rem"
  >
    <fa-icon [icon]="faGithub"></fa-icon>
  </a>
  <a
    href="https://bsky.app/profile/mesos.bsky.social"
    aria-label="View BlueSky Profile for Carlos Santos"
    target="_blank"
    style="color: black; opacity: 0.75; padding-right: 1rem"
  >
    <fa-icon [icon]="faBluesky"></fa-icon>
  </a>
  <a
    href="https://www.twitch.tv/mes0s"
    aria-label="View Carlos' Twitch Channel"
    target="_blank"
    style="color: black; opacity: 0.75; padding-right: 1rem"
  >
    <fa-icon [icon]="faTwitch"></fa-icon>
  </a>
  <a href="mailto:carlos.ermida.santos@gmail.com"
    ><fa-icon [icon]="faEnvelope"></fa-icon> Email</a
  >
</footer>
