h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
  text-align: center;
}

p {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}

.skills {
  content-visibility: auto;
}

.skills_main_item_label {
  text-align: center;
}

.skills__secondary {
  margin-top: 5vh;
}

.tag {
  font-size: 1.2rem;
}

.skills__main_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    font-weight: bold;
  }
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .columns {
    flex-direction: column;
  }

  .skills__main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .columns {
    flex-direction: row;
  }

  .skills__main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
