<section class="section">
  <div class="skills container">
    <div class="skills__main columns">
      <div class="column is-2" *ngFor="let coreSkill of skillsList[0]">
        <div class="skills__main_item">
          <figure class="image is-128x128">
            <img class="is-rounded" src="{{ coreSkill?.image }}" />
          </figure>
          <label> {{ coreSkill?.id }} </label>
        </div>
      </div>
    </div>
    <div class="skills__secondary columns">
      <div class="column is-1" *ngFor="let additionalSkill of skillsList[1]">
        <span class="tag is-success">{{ additionalSkill?.id }}</span>
      </div>
    </div>
  </div>
</section>
