.header {
  height: 80px;
  width: 100%;
  position: fixed;

  &-navbar {
    &-navigation {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      flex: 1 1 auto;

      & > a {
        justify-self: center;
      }

      app-navigation {
        justify-self: center;
      }
    }

    &-logo {
      text-align: center;
      font-weight: 500;
      font-size: 2rem;
      font-family: Montserrat, sans-serif;
      color: #222;
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE/Edge */
      user-select: none; /* Standard syntax */
      text-decoration: none;
      cursor: pointer;
    }
  }
}
