<div class="about-section">
  <div class="content">
    <p>
      Hey there! For over 10 years, I've been diving deep into the world of web
      projects, and I've found my sweet spot leading front-end teams.
    </p>
    <p>
      I'm a big fan of modern JavaScript, especially Angular, where I love
      building scalable stuff and helping my team shine.
    </p>
    <p>
      Think of me as a tech manager who's also a big believer in Agile and
      Scrum.
    </p>
    <p>I'm all about turning complex ideas into smooth workflows.</p>
    <p>
      I also love building strong teams, whether it's through finding the right
      talent, getting them up to speed, or just creating a place where everyone
      can learn and grow.
    </p>
    <p>What gets me excited?</p>
    <ul>
      <li>Seeing teams level up through coaching and clear direction.</li>
      <li>Getting things done efficiently with Agile.</li>
      <li>
        Finding that perfect balance between cool new tech and keeping things
        running smoothly.
      </li>
    </ul>
    <br />
    <p>
      Let's chat about how I can bring my vision, leadership, and positive
      energy to your next project!
    </p>
  </div>
</div>
