<section class="section">
  <div class="resume container">
    <div class="columns">
      <div class="column is-full-tablet is-centered resume__nav__box">
        <div class="tags are-large is-right">
          <span class="tag is-primary"
            ><a [routerLink]="['experience']">Professional Experience</a></span
          >
          <span class="tag is-primary"
            ><a [routerLink]="['education']">Education</a></span
          >
          <span class="tag is-primary"
            ><a [routerLink]="['skills']">Skills</a></span
          >
          <span class="tag is-primary"
            ><a [routerLink]="['certifications']">Certifications</a></span
          >
          <span class="tag is-primary"
            ><a [routerLink]="['training']">Training</a></span
          >
        </div>
      </div>
    </div>
  </div>
</section>
