.resume__photo__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume__nav__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .tags {
    display: flex;
    justify-content: center;
    align-items: center;

    .tag {
      cursor: pointer;
      font-size: 1.5rem;
    }

    .download__button {
      color: white;
      margin-top: 1rem;
    }

    .download__button:hover {
      color: lightblue;
    }
  }

  .resume__download__button {
    content-visibility: auto;
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding-top: 0;

    .resume__nav__box {
      margin-top: 2vh;
    }

    .resume__photo__container {
      padding-top: 1rem;
    }

    .resume__download__button {
      padding-top: 0;
      justify-self: flex-start;
    }
  }
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
  .columns {
    flex-direction: column;
  }
}
