.resume__photo__container {
  text-align: center;
}
.professional__pic {
  content-visibility: auto;
}

.resume__nav__box {
  margin-top: 20vh;

  text-align: center;

  .tags {
    .tag {
      cursor: pointer;
    }

    .download__button {
      color: white;
      margin-top: 60px;
    }

    .download__button:hover {
      color: lightblue;
    }
  }

  .resume__download__button {
    content-visibility: auto;
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding-top: 0;

    .resume__nav__box {
      margin-top: 2vh;
    }

    .resume__photo__container {
      padding-top: 10vh;
    }

    .resume__download__button {
      margin-top: -99vh;
    }
  }
}
