<section class="section">
  <div class="certifications container">
    <div class="columns">
      <div class="column">
        <h1>English Bulats C2</h1>
        <p>Wall Street English - Vila Real, Portugal, 2013</p>
        <div class="tags are-medium is-left">
          <a
            class="download__button tag is-success"
            href="../../../assets/Bulats.jpg"
            download
          >
            Download Certificate
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
