.experiences__item {
  content-visibility: auto;
}

.experiences__item_position,
.experiences__item_details {
  margin-top: 2vh;
}

.experiences__item_location {
  margin-left: 0.5vw;
}

.experiences__item_long_description {
  margin-top: 5vh;
}
