<section class="section">
  <div class="experiences container">
    <h1>Professional Experience</h1>
    <br />
    <div class="columns experiences__column">
      <div class="column is-4" *ngFor="let experience of experienceHistory">
        <div class="experiences__item">
          <div class="experiences__item_header">
            <figure class="image is-128x128">
              <img
                class="is-rounded"
                src="{{ experience?.image }}"
                alt="{{ experience?.id }}"
              />
            </figure>
            <h2 class="experiences__item_title">{{ experience?.id }}</h2>
          </div>
          <h2 class="experiences__item_position">{{ experience?.position }}</h2>
          <h3 class="experiences__item_details">
            <span class="experiences__item_dates">
              {{ experience?.startDate }} - {{ experience?.endDate }}
            </span>
            <span>,</span>
            <span class="experiences__item_location">{{
              experience?.location
            }}</span>
          </h3>

          <div class="experiences__item_long_description list">
            <a
              class="experiences__item_long_description_detail list-item"
              *ngFor="let detail of experience?.longDescription"
            >
              {{ detail }}
              <br />
            </a>
          </div>
        </div>
        <fa-icon [icon]="faArrowAltCircleLeft"></fa-icon>
      </div>
    </div>
  </div>
</section>
