h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
  text-align: center;
}

p {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}

.experiences__item_header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.experiences__item_title {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 2rem;
}

.experiences__item_position {
  font-weight: bold;
}

.experiences__item_long_description {
  border-radius: 1rem;
}
.experiences__item_long_description a {
  background-color: grey;
}
.experiences__item_position,
.experiences__item_details {
  margin-top: 2vh;
}

.experiences__item_location {
  margin-left: 0.5vw;
}

.experiences__item_long_description {
  margin-top: 2vh;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
  .columns {
    flex-direction: column;
  }
}
