@media screen and (max-width: 768px) {
  .column__right {
    padding: 0;
    content-visibility: auto;
  }
}

@media screen and (min-width: 769px) {
  .column__left,
  .column__right {
    padding: 0;
    content-visibility: auto;
  }
}

.column__left {
  margin: auto;
  content-visibility: auto;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

p {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}
