@if(hideSideMenu){
<div class="app-container">
  <app-header />
  <main class="content">
    <router-outlet />
  </main>
  <app-footer />
</div>
} @else {
<mat-drawer-container class="mobile-sidenav-container" autosize>
  <mat-drawer #drawer class="mobile-sidenav" mode="side">
    <div class="mobile-sidenav-wrapper">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon
          class="hamburger"
          aria-hidden="false"
          aria-label="Menu"
          fontIcon="menu"
        ></mat-icon>
      </button>
    </div>
    <app-navigation
      [hideSideMenu]="hideSideMenu"
      (linkClicked)="toggleSideMenu()"
    ></app-navigation>
  </mat-drawer>
  <div class="mobile-content-wrapper">
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon
        class="hamburger"
        aria-hidden="false"
        aria-label="Menu"
        fontIcon="menu"
      ></mat-icon>
    </button>
  </div>
  <main class="main content">
    <router-outlet />
  </main>
  <app-footer />
</mat-drawer-container>
}
