@if(hideSideMenu){
<div class="app-container">
  <app-header />
  <main class="content">
    <router-outlet />
  </main>
  <app-footer />
</div>
} @else {
<mat-drawer-container class="mobile-sidenav-container" autosize>
  <mat-drawer #drawer class="mobile-sidenav" mode="side">
    <app-navigation [hideSideMenu]="hideSideMenu"></app-navigation>
  </mat-drawer>
  <button type="button" mat-button (click)="drawer.toggle()">
    <mat-icon aria-hidden="false" aria-label="Menu" fontIcon="menu"></mat-icon>
  </button>
  <main class="main content">
    <router-outlet />
  </main>
  <app-footer />
</mat-drawer-container>
}
