html, body, #app
{
  min-height: 100vh !important;
  overflow: hidden !important;
}

#app
{
  min-height: 100vh;
  
  .columns{
    margin-bottom: 0;
    min-height: 101vh !important;
    overflow: hidden !important;
  }
}

@media screen and (max-width: 768px)
{
  .right-column{
    padding: 0;
  }
  
  .left-column{
    margin:auto;
  }
}

@media screen and (min-width: 769px)
{
  .left-column, .right-column{
    padding: 0;
  }
  
  .left-column{
    margin:auto;
  }
}