<nav class="nav has-shadow">
  <div class="container">
    <aside class="menu column is-10 is-fullheight section is-hidden-mobile">
      <h1 class="menu-label is-hidden-touch is-size-4">Carlos Santos</h1>
      <ul class="menu-list is-size-6">
        <li>
          <a href="#" class="">
            <span class="icon">
              <fa-icon [icon]="['far', 'user-circle']"></fa-icon>
            </span> About
          </a>
        </li>
        <li>
          <a class="expandable-menu-item"
            [ngClass]="{'is-active': resumeSectionExpanded}"
            (click)="clickResumeSection($event)">
            <span class="icon">
              <fa-icon [icon]="['far', 'caret-down']"
                *ngIf="!resumeSectionExpanded"></fa-icon>
              <fa-icon [icon]="['far', 'caret-up']"
                *ngIf="resumeSectionExpanded"></fa-icon>
            </span>
            Resume
          </a>
          <ul [@openClose]="resumeSectionExpanded ? 'open' : 'closed'"
            *ngIf="resumeSectionExpanded">
            <li>
              <a href="#">
                <span class="icon">
                  <fa-icon [icon]="['far', 'wrench']"></fa-icon>
                </span>
                Skills
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon">
                  <fa-icon [icon]="['far', 'business-time']"></fa-icon>
                </span>
                Professional experience
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon">
                  <fa-icon [icon]="['far', 'user-graduate']"></fa-icon>
                </span>
                Education
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon">
                  <fa-icon [icon]="['fal', 'file-certificate']"></fa-icon>
                </span>
                Certifications
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon">
                  <fa-icon [icon]="['far', 'laptop-code']"></fa-icon>
                </span>
                Training
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="">
            <span class="icon">
              <fa-icon [icon]="['fal', 'dice-d20']"></fa-icon>
            </span> Hobbies
          </a>
        </li>
      </ul>
    </aside>
    <label for="menu-toggle" class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <input type="checkbox" id="menu-toggle" class="is-hidden" />
    <div class="nav-right nav-menu">
      <a class="nav-item is-tab is-hidden-tablet">
        <span class="icon"><i class="fa fa-home"></i></span> About
      </a>
      <a class="nav-item is-tab is-hidden-tablet">
        <span class="icon"><i class="fa fa-table"></i></span> Resume
      </a>
      <a class="nav-item is-tab is-hidden-tablet">
        <span class="icon"><i class="fa fa-info"></i></span> About
      </a>

      <a class="nav-item is-tab is-active">
        <span class="icon"><i class="fa fa-user"></i></span>
      </a>
      <a class="nav-item is-tab">
        <span class="icon"><i class="fa fa-sign-out"></i></span>
      </a>
    </div>
  </div>
</nav>

<!-- <section class="main-content columns is-fullheight">
  
</section> -->