.welcome__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .welcome__title {
    z-index: 1;
    text-align: right;
  }
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
  .columns {
    flex-direction: column;
  }

  .welcome__title {
    text-align: center;
  }

  .welcome__image {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .welcome__title {
    font-size: 2rem;
    text-align: center;
  }
}
