.timeline-page {
  display: flex;
  flex-direction: column;
  h1 {
    text-align: center;
  }
}

.period-inner-container {
  display: flex !important;
  flex-direction: row !important;
  .end-date-label {
    font-weight: bolder !important;
  }
}
