.period-inner-container {
  display: flex !important;
  flex-direction: row !important;
  .end-date-label {
    font-weight: bolder !important;
  }
}

.experience-logo-container {
  padding-left: 2rem;
}
