<ngx-timeline
  [events]="events"
  [langCode]="'en'"
  [enableAnimation]="true"
  [reverseOrder]="true"
  [changeSide]="timelineSide"
  [periodCustomTemplate]="periodCustomTemplate"
  [dateInstantCustomTemplate]="dateInstantCustomTemplate"
  [eventDescriptionCustomTemplate]="eventDescriptionCustomTemplate"
  (clickEmitter)="handleClick($event)"
></ngx-timeline>
<ng-template #periodCustomTemplate let-period="period" let-index="index">
  <div class="period-inner-container">
    <span class="end-date-label">{{
      findCorrespondingEndDate(period?.firstDate) | ngxdate : ngxDateFormat
    }}</span>
  </div>
</ng-template>

<ng-template #dateInstantCustomTemplate let-index="index" let-item="item">
  <span class="end-date-label"></span>
</ng-template>

<ng-template #eventDescriptionCustomTemplate let-event="event">
  <div class="experience-logo-container">
    <img
      class="experience-logo-image"
      width="96"
      height="96"
      src="{{ event.eventInfo?.description?.image?.url }}"
      alt="{{ event.eventInfo?.description?.image?.altText }}"
    />
  </div>
  <div
    [innerHTML]="convertToHtml(event.eventInfo?.description.description)"
  ></div>
</ng-template>
