<div class="skills">
  <div class="skills-header">
    <h1>Skills</h1>
  </div>
  <app-loading-spinner
    *ngIf="loading()"
    [message]="'Loading...'"
    mode="fullscreen"
  >
  </app-loading-spinner>
  <div *ngIf="error()">Error loading data.</div>
  <div class="skills-blocks">
    <div class="skills-technical-cards" *ngIf="techSkillsData">
      <app-technical-skills
        [techSkillsData]="techSkillsData"
      ></app-technical-skills>
    </div>
    <div class="other-skills">
      <div class="skills-language" *ngIf="languageSkillsData">
        <app-language-skills
          [languageSkillsData]="languageSkillsData"
        ></app-language-skills>
      </div>
      <div class="skills-soft-cloud" *ngIf="softSkillsData">
        <app-soft-skills [softSkillsData]="softSkillsData"></app-soft-skills>
      </div>
    </div>
  </div>
</div>
