<div class="training">
  <div class="training-header">
    <h1>Trainings and Certifications</h1>
  </div>
  <br />
  <app-loading-spinner
    *ngIf="loading()"
    [message]="'Loading...'"
    mode="fullscreen"
  >
  </app-loading-spinner>
  <div *ngIf="error()">Error loading data.</div>
  <div class="training-group-container" *ngIf="trainingData">
    <div class="training-group" *ngFor="let trainingGroup of trainingData">
      <h2>{{ trainingGroup.trainingGroup }}</h2>
      <ul class="training-group-list">
        <li *ngFor="let training of trainingGroup.trainingList">
          {{ training }}
        </li>
      </ul>
    </div>
  </div>
</div>
