.training {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-header {
    width: 100%;
    h1 {
      text-align: center;
    }
  }

  &-group {
    &-container {
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 767px) {
        padding-left: 5rem;
        padding-right: 5rem;
      }
    }
  }
}
