html,
body,
#app {
  height: 100vh !important;

  @media screen and (max-width: 1439px) {
    overflow: hidden !important;
  }
}

@media screen and (min-width: 1440px) {
  body {
    margin: 12px;
  }
}
