.education__item_id,
.education__item_position,
.education__item_details {
  margin-top: 2vh;
}

.education__item_location {
  margin-left: 0.5vw;
}

.education__item_long_description {
  margin-top: 5vh;
}
