h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
  text-align: center;
}

p {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}

.education__item_id,
.education__item_position,
.education__item_details {
  margin-top: 2vh;
}

.education__item_location {
  margin-left: 0.5vw;
}

.education__item_long_description {
  margin-top: 2vh;
  border-radius: 1rem;
}

.education__item_long_description a {
  background-color: grey;
}

.education__item_id {
  font-size: 1.2rem;
  font-weight: bold;
}

.education__item_short_description {
  padding-top: 1rem;
  font-weight: bold;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  margin-right: 5rem;
}

.column:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .columns {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .column {
    margin-right: 0;
    margin-top: 1rem;
  }
}

.education__item_image {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
