<nav
  class="navigation"
  [ngClass]="mobileMode ? 'navigation--mobile' : 'navigation--desktop'"
>
  <a
    *ngIf="mobileMode"
    class="navigation-navbar-logo"
    routerLink="/"
    routerLinkActive="router-link-active"
    >CARLOS SANTOS</a
  >
  <a mat-button routerLink="/professional" routerLinkActive="router-link-active"
    >Professional Experience</a
  >
  <a mat-button routerLink="/academic" routerLinkActive="router-link-active"
    >Academic Experience</a
  >
  <a mat-button routerLink="/skills" routerLinkActive="router-link-active"
    >Skills</a
  >
  <a mat-button routerLink="/training" routerLinkActive="router-link-active"
    >Training and Certifications</a
  >
  <a mat-button routerLink="/hobbies" routerLinkActive="router-link-active"
    >Hobbies</a
  >
</nav>
