<nav
  class="navigation"
  [ngClass]="mobileMode ? 'navigation--mobile' : 'navigation--desktop'"
>
  <a
    *ngIf="mobileMode"
    class="navigation-navbar-logo"
    routerLink="/"
    routerLinkActive="router-link-active"
    (click)="onLinkClicked()"
    >CARLOS SANTOS</a
  >
  <a
    mat-button
    routerLink="/professional"
    routerLinkActive="router-link-active"
    (click)="onLinkClicked()"
    >Professional Experience</a
  >
  <a
    mat-button
    routerLink="/academic"
    routerLinkActive="router-link-active"
    (click)="onLinkClicked()"
    >Academic Experience</a
  >
  <a
    mat-button
    routerLink="/skills"
    routerLinkActive="router-link-active"
    (click)="onLinkClicked()"
    >Skills</a
  >
  <a
    mat-button
    routerLink="/training"
    routerLinkActive="router-link-active"
    (click)="onLinkClicked()"
    >Training and Certifications</a
  >
  <a
    mat-button
    routerLink="/hobbies"
    routerLinkActive="router-link-active"
    (click)="onLinkClicked()"
    >Hobbies</a
  >
</nav>
