<section class="section">
  <h1>Training</h1>
  <br />
  <div class="training container">
    <ul>
      <h2 class="title">Altran</h2>
      <li>French DELF B2, completed on August 2020</li>
      <li>French DELF B1, completed on February 2020</li>
      <li>French DELF A2, completed on May 2019</li>
      <li>French DELF A1, completed on December 2018</li>
      <li>
        Requirements & Test Management with Jira Software, completed on May 2018
      </li>
      <br />
      <h2 class="title">Udemy</h2>
      <li>Testing Angular 4 Apps with Jasmine, January 2018</li>
      <br />
      <h2 class="title">Lynda.com</h2>
      <li>Angular 2 Essential Training, July 2017</li>
      <li>Angular 2 Testing and Debugging, July 2017</li>
      <li>Angular 2 Forms: Data Binding and Validation, June 2017</li>
      <li>Angular 2 for .NET Developers, June 2017</li>
      <li>
        Building a Full-Stack Application with Angular 2, ASP.NET Core and
        Authentication, June 2017
      </li>
      <li>Learning AngularJS 2, June 2017</li>
      <li>Migrating to Angular 2, June 2017</li>
      <br />
      <h2 class="title">Coursera</h2>
      <li>Introduction to Meteor.js Development, Coursera</li>
      <li>
        Creative, Serious and Playful Science of Android Apps, February 2014
      </li>
      <li>An Introduction to Interactive Programming in Python, June 2013</li>
      <li>Responsive Web Design</li>
      <li>Responsive Website Basics: Code with HTML, CSS, and JavaScript</li>
      <br />
      <h2 class="title">PluralSight</h2>
      <li>Angular 2 End-to-end</li>
      <li>Angular Best Practices</li>
      <li>Angular CLI</li>
      <li>Angular Fundamentals</li>
      <li>Angular: Getting Started</li>
      <li>Building Stronger Front-end Practices</li>
      <li>CSS 3 From Scratch</li>
      <li>JavaScript Best Practices</li>
      <li>JavaScript Objects and Prototypes</li>
      <li>Object-oriented Programming in JavaScript - ES6</li>
      <li>
        Play by Play: Angular with Typescript with John Papa and Christopher
        Martin
      </li>
      <li>SOLID Principles of Object Oriented Design</li>
      <li>Testing JavaScript with Jasmine and TypeScript</li>
      <li>TypeScript Fundamentals</li>
      <br />
      <h2 class="title">SkillSoft</h2>
      <li>Angular - Creating and Maintaining Forms</li>
      <li>Angular 2 Template Syntax, Directives, and Pipes</li>
      <li>Angular 4 Animation</li>
      <li>Angular 4 Components and Bindings</li>
      <li>Angular 4 Creating an Application</li>
      <li>Angular 4 Directives</li>
      <li>Angular 4 Form Management</li>
      <li>Angular 4 Model-driven Forms</li>
      <li>Angular 4 NativeScript</li>
      <li>Angular 4 Pipes</li>
      <li>Angular 4 Routing</li>
      <li>Angular 4 Services, Promises, and Route Protection</li>
      <li>Angular 6 Development Testing & TDD</li>
      <li>Angular Security and the Angular CLI</li>
      <li>Client-side Routing and Using HTTP</li>
      <li>Creating a Basic Angular Application</li>
      <li>Testing Angular Apps</li>
      <li>Using Animation and Supporting Mobile Devices</li>
      <br />
      <h2 class="title">UTAD Solutions Consulting</h2>
      <li>IBM SPSS</li>
      <br />
    </ul>
  </div>
</section>
